@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  background-color: #111729;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url('./assets/bg-illustration.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: calc(100% - 10%) center;
}
